.bounds {
    height :100vh;
  }
  
  .sec1 {
    background-color: #3490dc;
    text-transform: uppercase
  }
  
  .sec2 {
    height :100vh;
  }
  
  .sec1, .sec2 {
    padding-top:20px;
    text-align:center
}
  

 